*.Zip
Altium/Libraries/STMicroelectronics/STMicroelectronics_MEMS_Sensors.LibPkg
Altium/Libraries/STMicroelectronics/Project Outputs for STMicroelectronics_MEMS_Sensors/STMicroelectronics_MEMS_Sensors/SMTicroelectronics_MEMS_Sensors.SchLib
Altium/Libraries/Semtech/Project Outputs for SEMTECH_Wireless/SEMTECH_Wireless/SEMTECH_Wireless.SchLib
Altium/Libraries/Semtech/Project Outputs for SEMTECH_Wireless/SEMTECH_Wireless/SEMTECH_Wireless.LibPkg
KiCad/Projects/half_adder/fp-info-cache
KiCad/Projects/half_adder/half_adder-B_Cu.gbr
KiCad/Projects/half_adder/half_adder-B_Mask.gbr
KiCad/Projects/half_adder/half_adder-B_Paste.gbr
KiCad/Projects/half_adder/half_adder-B_Silkscreen.gbr
KiCad/Projects/half_adder/half_adder-Edge_Cuts.gbr
KiCad/Projects/half_adder/half_adder-F_Cu.gbr
KiCad/Projects/half_adder/half_adder-F_Mask.gbr
KiCad/Projects/half_adder/half_adder-F_Paste.gbr
KiCad/Projects/half_adder/half_adder-F_Silkscreen.gbr
KiCad/Projects/half_adder/half_adder-job.gbrjob
KiCad/Projects/half_adder/half_adder-NPTH.drl
KiCad/Projects/half_adder/half_adder-PTH.drl
KiCad/Projects/half_adder/half_adder.kicad_prl
KiCad/Projects/half_adder/half_adder.pdf
