*.Zip
Altium/Libraries/STMicroelectronics/STMicroelectronics_MEMS_Sensors.LibPkg
Altium/Libraries/STMicroelectronics/Project Outputs for STMicroelectronics_MEMS_Sensors/STMicroelectronics_MEMS_Sensors/SMTicroelectronics_MEMS_Sensors.SchLib
Altium/Libraries/Semtech/Project Outputs for SEMTECH_Wireless/SEMTECH_Wireless/SEMTECH_Wireless.SchLib
Altium/Libraries/Semtech/Project Outputs for SEMTECH_Wireless/SEMTECH_Wireless/SEMTECH_Wireless.LibPkg
